.svn
*.php~
*.xml~
*.html~
joomla/.gitignore
joomla/.htaccess
joomla/administrator/cache/*
joomla/administrator/components/com_admin/*
joomla/administrator/components/com_banners/*
joomla/administrator/components/com_cache/*
joomla/administrator/components/com_categories/*
joomla/administrator/components/com_checkin/*
joomla/administrator/components/com_config/*
joomla/administrator/components/com_contact/*
joomla/administrator/components/com_content/*
joomla/administrator/components/com_cpanel/*
joomla/administrator/components/com_finder/*
joomla/administrator/components/com_installer/*
joomla/administrator/components/com_joomlaupdate/*
joomla/administrator/components/com_languages/*
joomla/administrator/components/com_login/*
joomla/administrator/components/com_media/*
joomla/administrator/components/com_menus/*
joomla/administrator/components/com_messages/*
joomla/administrator/components/com_modules/*
joomla/administrator/components/com_newsfeeds/*
joomla/administrator/components/com_plugins/*
joomla/administrator/components/com_redirect/*
joomla/administrator/components/com_search/*
joomla/administrator/components/com_templates/*
joomla/administrator/components/com_users/*
joomla/administrator/components/com_weblinks/*
joomla/administrator/components/index.html
joomla/administrator/help/*
joomla/administrator/includes/*
joomla/administrator/language/en-GB/
joomla/administrator/language/en-GB/en-GB.com_admin.ini
joomla/administrator/language/en-GB/en-GB.com_admin.sys.ini
joomla/administrator/language/en-GB/en-GB.com_banners.ini
joomla/administrator/language/en-GB/en-GB.com_banners.sys.ini
joomla/administrator/language/en-GB/en-GB.com_cache.ini
joomla/administrator/language/en-GB/en-GB.com_cache.sys.ini
joomla/administrator/language/en-GB/en-GB.com_categories.ini
joomla/administrator/language/en-GB/en-GB.com_categories.sys.ini
joomla/administrator/language/en-GB/en-GB.com_checkin.ini
joomla/administrator/language/en-GB/en-GB.com_checkin.sys.ini
joomla/administrator/language/en-GB/en-GB.com_config.ini
joomla/administrator/language/en-GB/en-GB.com_config.sys.ini
joomla/administrator/language/en-GB/en-GB.com_contact.ini
joomla/administrator/language/en-GB/en-GB.com_contact.sys.ini
joomla/administrator/language/en-GB/en-GB.com_content.ini
joomla/administrator/language/en-GB/en-GB.com_content.sys.ini
joomla/administrator/language/en-GB/en-GB.com_cpanel.ini
joomla/administrator/language/en-GB/en-GB.com_cpanel.sys.ini
joomla/administrator/language/en-GB/en-GB.com_installer.ini
joomla/administrator/language/en-GB/en-GB.com_installer.sys.ini
joomla/administrator/language/en-GB/en-GB.com_languages.ini
joomla/administrator/language/en-GB/en-GB.com_languages.sys.ini
joomla/administrator/language/en-GB/en-GB.com_login.ini
joomla/administrator/language/en-GB/en-GB.com_login.sys.ini
joomla/administrator/language/en-GB/en-GB.com_mailto.sys.ini
joomla/administrator/language/en-GB/en-GB.com_media.ini
joomla/administrator/language/en-GB/en-GB.com_media.sys.ini
joomla/administrator/language/en-GB/en-GB.com_menus.ini
joomla/administrator/language/en-GB/en-GB.com_menus.sys.ini
joomla/administrator/language/en-GB/en-GB.com_messages.ini
joomla/administrator/language/en-GB/en-GB.com_messages.sys.ini
joomla/administrator/language/en-GB/en-GB.com_modules.ini
joomla/administrator/language/en-GB/en-GB.com_modules.sys.ini
joomla/administrator/language/en-GB/en-GB.com_newsfeeds.ini
joomla/administrator/language/en-GB/en-GB.com_newsfeeds.sys.ini
joomla/administrator/language/en-GB/en-GB.com_plugins.ini
joomla/administrator/language/en-GB/en-GB.com_plugins.sys.ini
joomla/administrator/language/en-GB/en-GB.com_redirect.ini
joomla/administrator/language/en-GB/en-GB.com_redirect.sys.ini
joomla/administrator/language/en-GB/en-GB.com_search.ini
joomla/administrator/language/en-GB/en-GB.com_search.sys.ini
joomla/administrator/language/en-GB/en-GB.com_templates.ini
joomla/administrator/language/en-GB/en-GB.com_templates.sys.ini
joomla/administrator/language/en-GB/en-GB.com_users.ini
joomla/administrator/language/en-GB/en-GB.com_users.sys.ini
joomla/administrator/language/en-GB/en-GB.com_weblinks.ini
joomla/administrator/language/en-GB/en-GB.com_weblinks.sys.ini
joomla/administrator/language/en-GB/en-GB.com_wrapper.ini
joomla/administrator/language/en-GB/en-GB.com_wrapper.sys.ini
joomla/administrator/language/en-GB/en-GB.ini
joomla/administrator/language/en-GB/en-GB.lib_joomla.ini
joomla/administrator/language/en-GB/en-GB.localise.php
joomla/administrator/language/en-GB/en-GB.mod_custom.ini
joomla/administrator/language/en-GB/en-GB.mod_custom.sys.ini
joomla/administrator/language/en-GB/en-GB.mod_feed.ini
joomla/administrator/language/en-GB/en-GB.mod_feed.sys.ini
joomla/administrator/language/en-GB/en-GB.mod_latest.ini
joomla/administrator/language/en-GB/en-GB.mod_latest.sys.ini
joomla/administrator/language/en-GB/en-GB.mod_logged.ini
joomla/administrator/language/en-GB/en-GB.mod_logged.sys.ini
joomla/administrator/language/en-GB/en-GB.mod_login.ini
joomla/administrator/language/en-GB/en-GB.mod_login.sys.ini
joomla/administrator/language/en-GB/en-GB.mod_menu.ini
joomla/administrator/language/en-GB/en-GB.mod_menu.sys.ini
joomla/administrator/language/en-GB/en-GB.mod_online.ini
joomla/administrator/language/en-GB/en-GB.mod_online.sys.ini
joomla/administrator/language/en-GB/en-GB.mod_popular.ini
joomla/administrator/language/en-GB/en-GB.mod_popular.sys.ini
joomla/administrator/language/en-GB/en-GB.mod_quickicon.ini
joomla/administrator/language/en-GB/en-GB.mod_quickicon.sys.ini
joomla/administrator/language/en-GB/en-GB.mod_status.ini
joomla/administrator/language/en-GB/en-GB.mod_status.sys.ini
joomla/administrator/language/en-GB/en-GB.mod_submenu.ini
joomla/administrator/language/en-GB/en-GB.mod_submenu.sys.ini
joomla/administrator/language/en-GB/en-GB.mod_title.ini
joomla/administrator/language/en-GB/en-GB.mod_title.sys.ini
joomla/administrator/language/en-GB/en-GB.mod_toolbar.ini
joomla/administrator/language/en-GB/en-GB.mod_toolbar.sys.ini
joomla/administrator/language/en-GB/en-GB.mod_unread.ini
joomla/administrator/language/en-GB/en-GB.mod_unread.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_authentication_example.ini
joomla/administrator/language/en-GB/en-GB.plg_authentication_example.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_authentication_gmail.ini
joomla/administrator/language/en-GB/en-GB.plg_authentication_gmail.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_authentication_joomla.ini
joomla/administrator/language/en-GB/en-GB.plg_authentication_joomla.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_authentication_ldap.ini
joomla/administrator/language/en-GB/en-GB.plg_authentication_ldap.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_content_emailcloak.ini
joomla/administrator/language/en-GB/en-GB.plg_content_emailcloak.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_content_geshi.ini
joomla/administrator/language/en-GB/en-GB.plg_content_geshi.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_content_joomla.ini
joomla/administrator/language/en-GB/en-GB.plg_content_joomla.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_content_loadmodule.ini
joomla/administrator/language/en-GB/en-GB.plg_content_loadmodule.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_content_pagebreak.ini
joomla/administrator/language/en-GB/en-GB.plg_content_pagebreak.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_content_pagenavigation.ini
joomla/administrator/language/en-GB/en-GB.plg_content_pagenavigation.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_content_vote.ini
joomla/administrator/language/en-GB/en-GB.plg_content_vote.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_editors_codemirror.ini
joomla/administrator/language/en-GB/en-GB.plg_editors_codemirror.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_editors_none.ini
joomla/administrator/language/en-GB/en-GB.plg_editors_none.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_editors_tinymce.ini
joomla/administrator/language/en-GB/en-GB.plg_editors_tinymce.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_editors-xtd_article.ini
joomla/administrator/language/en-GB/en-GB.plg_editors-xtd_article.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_editors-xtd_image.ini
joomla/administrator/language/en-GB/en-GB.plg_editors-xtd_image.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_editors-xtd_pagebreak.ini
joomla/administrator/language/en-GB/en-GB.plg_editors-xtd_pagebreak.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_editors-xtd_readmore.ini
joomla/administrator/language/en-GB/en-GB.plg_editors-xtd_readmore.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_extension_joomla.ini
joomla/administrator/language/en-GB/en-GB.plg_extension_joomla.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_search_categories.ini
joomla/administrator/language/en-GB/en-GB.plg_search_categories.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_search_contacts.ini
joomla/administrator/language/en-GB/en-GB.plg_search_contacts.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_search_content.ini
joomla/administrator/language/en-GB/en-GB.plg_search_content.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_search_newsfeeds.ini
joomla/administrator/language/en-GB/en-GB.plg_search_newsfeeds.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_search_weblinks.ini
joomla/administrator/language/en-GB/en-GB.plg_search_weblinks.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_system_cache.ini
joomla/administrator/language/en-GB/en-GB.plg_system_cache.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_system_debug.ini
joomla/administrator/language/en-GB/en-GB.plg_system_debug.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_system_languagefilter.ini
joomla/administrator/language/en-GB/en-GB.plg_system_languagefilter.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_system_log.ini
joomla/administrator/language/en-GB/en-GB.plg_system_logout.ini
joomla/administrator/language/en-GB/en-GB.plg_system_logout.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_system_log.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_system_p3p.ini
joomla/administrator/language/en-GB/en-GB.plg_system_p3p.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_system_redirect.ini
joomla/administrator/language/en-GB/en-GB.plg_system_redirect.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_system_remember.ini
joomla/administrator/language/en-GB/en-GB.plg_system_remember.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_system_sef.ini
joomla/administrator/language/en-GB/en-GB.plg_system_sef.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_user_contactcreator.ini
joomla/administrator/language/en-GB/en-GB.plg_user_contactcreator.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_user_joomla.ini
joomla/administrator/language/en-GB/en-GB.plg_user_joomla.sys.ini
joomla/administrator/language/en-GB/en-GB.plg_user_profile.ini
joomla/administrator/language/en-GB/en-GB.plg_user_profile.sys.ini
joomla/administrator/language/en-GB/en-GB.tpl_bluestork.ini
joomla/administrator/language/en-GB/en-GB.tpl_bluestork.sys.ini
joomla/administrator/language/en-GB/en-GB.tpl_hathor.ini
joomla/administrator/language/en-GB/en-GB.tpl_hathor.sys.ini
joomla/administrator/language/en-GB/en-GB.xml
joomla/administrator/language/en-GB/index.html
joomla/administrator/language/overrides/*
joomla/administrator/language/index.html
joomla/administrator/manifests/*
joomla/administrator/modules/mod_custom/*
joomla/administrator/modules/mod_feed/*
joomla/administrator/modules/mod_latest/*
joomla/administrator/modules/mod_logged/*
joomla/administrator/modules/mod_login/*
joomla/administrator/modules/mod_menu/*
joomla/administrator/modules/mod_multilangstatus/*
joomla/administrator/modules/mod_online/*
joomla/administrator/modules/mod_popular/*
joomla/administrator/modules/mod_quickicon/*
joomla/administrator/modules/mod_status/*
joomla/administrator/modules/mod_submenu/*
joomla/administrator/modules/mod_title/*
joomla/administrator/modules/mod_toolbar/*
joomla/administrator/modules/mod_unread/*
joomla/administrator/modules/mod_version/*
joomla/administrator/modules/index.html
joomla/administrator/templates/bluestork/*
joomla/administrator/templates/hathor/*
joomla/administrator/templates/system/*
joomla/administrator/templates/index.html
joomla/administrator/index.php
joomla/cache/*
joomla/cli/*
joomla/components/com_banners/*
joomla/components/com_contact/*
joomla/components/com_content/*
joomla/components/com_finder/*
joomla/components/com_mailto/*
joomla/components/com_media/*
joomla/components/com_newsfeeds/*
joomla/components/com_search/*
joomla/components/com_users/*
joomla/components/com_weblinks/*
joomla/components/com_wrapper/*
joomla/components/index.html
joomla/images/banners/*
joomla/images/sampledata/*
joomla/images/joomla*
joomla/images/index.html
joomla/images/powered_by.png
joomla/includes/*
joomla/installation/*
joomla/language/en-GB/en-GB.com_contact.ini
joomla/language/en-GB/en-GB.com_content.ini
joomla/language/en-GB/en-GB.com_finder.ini
joomla/language/en-GB/en-GB.com_mailto.ini
joomla/language/en-GB/en-GB.com_media.ini
joomla/language/en-GB/en-GB.com_messages.ini
joomla/language/en-GB/en-GB.com_newsfeeds.ini
joomla/language/en-GB/en-GB.com_search.ini
joomla/language/en-GB/en-GB.com_users.ini
joomla/language/en-GB/en-GB.com_weblinks.ini
joomla/language/en-GB/en-GB.com_wrapper.ini
joomla/language/en-GB/en-GB.files_joomla.sys.ini
joomla/language/en-GB/en-GB.finder_cli.ini
joomla/language/en-GB/en-GB.ini
joomla/language/en-GB/en-GB.lib_joomla.ini
joomla/language/en-GB/en-GB.lib_joomla.sys.ini
joomla/language/en-GB/en-GB.lib_phpmailer.sys.ini
joomla/language/en-GB/en-GB.lib_phputf8.sys.ini
joomla/language/en-GB/en-GB.lib_simplepie.sys.ini
joomla/language/en-GB/en-GB.localise.php
joomla/language/en-GB/en-GB.mod_articles_archive.ini
joomla/language/en-GB/en-GB.mod_articles_archive.sys.ini
joomla/language/en-GB/en-GB.mod_articles_categories.ini
joomla/language/en-GB/en-GB.mod_articles_categories.sys.ini
joomla/language/en-GB/en-GB.mod_articles_category.ini
joomla/language/en-GB/en-GB.mod_articles_category.sys.ini
joomla/language/en-GB/en-GB.mod_articles_latest.ini
joomla/language/en-GB/en-GB.mod_articles_latest.sys.ini
joomla/language/en-GB/en-GB.mod_articles_news.ini
joomla/language/en-GB/en-GB.mod_articles_news.sys.ini
joomla/language/en-GB/en-GB.mod_articles_popular.ini
joomla/language/en-GB/en-GB.mod_articles_popular.sys.ini
joomla/language/en-GB/en-GB.mod_banners.ini
joomla/language/en-GB/en-GB.mod_banners.sys.ini
joomla/language/en-GB/en-GB.mod_breadcrumbs.ini
joomla/language/en-GB/en-GB.mod_breadcrumbs.sys.ini
joomla/language/en-GB/en-GB.mod_custom.ini
joomla/language/en-GB/en-GB.mod_custom.sys.ini
joomla/language/en-GB/en-GB.mod_feed.ini
joomla/language/en-GB/en-GB.mod_feed.sys.ini
joomla/language/en-GB/en-GB.mod_finder.ini
joomla/language/en-GB/en-GB.mod_finder.sys.ini
joomla/language/en-GB/en-GB.mod_footer.ini
joomla/language/en-GB/en-GB.mod_footer.sys.ini
joomla/language/en-GB/en-GB.mod_languages.ini
joomla/language/en-GB/en-GB.mod_languages.sys.ini
joomla/language/en-GB/en-GB.mod_login.ini
joomla/language/en-GB/en-GB.mod_login.sys.ini
joomla/language/en-GB/en-GB.mod_menu.ini
joomla/language/en-GB/en-GB.mod_menu.sys.ini
joomla/language/en-GB/en-GB.mod_random_image.ini
joomla/language/en-GB/en-GB.mod_random_image.sys.ini
joomla/language/en-GB/en-GB.mod_related_items.ini
joomla/language/en-GB/en-GB.mod_related_items.sys.ini
joomla/language/en-GB/en-GB.mod_search.ini
joomla/language/en-GB/en-GB.mod_search.sys.ini
joomla/language/en-GB/en-GB.mod_stats.ini
joomla/language/en-GB/en-GB.mod_stats.sys.ini
joomla/language/en-GB/en-GB.mod_syndicate.ini
joomla/language/en-GB/en-GB.mod_syndicate.sys.ini
joomla/language/en-GB/en-GB.mod_users_latest.ini
joomla/language/en-GB/en-GB.mod_users_latest.sys.ini
joomla/language/en-GB/en-GB.mod_weblinks.ini
joomla/language/en-GB/en-GB.mod_weblinks.sys.ini
joomla/language/en-GB/en-GB.mod_whosonline.ini
joomla/language/en-GB/en-GB.mod_whosonline.sys.ini
joomla/language/en-GB/en-GB.mod_wrapper.ini
joomla/language/en-GB/en-GB.mod_wrapper.sys.ini
joomla/language/en-GB/en-GB.pkg_joomla.sys.ini
joomla/language/en-GB/en-GB.tpl_atomic.ini
joomla/language/en-GB/en-GB.tpl_atomic.sys.ini
joomla/language/en-GB/en-GB.tpl_beez_20.ini
joomla/language/en-GB/en-GB.tpl_beez_20.sys.ini
joomla/language/en-GB/en-GB.tpl_beez5.ini
joomla/language/en-GB/en-GB.tpl_beez5.sys.ini
joomla/language/en-GB/en-GB.xml
joomla/language/en-GB/index.html
joomla/language/overrides/*
joomla/language/index.html
joomla/libraries/cms.php
joomla/libraries/import.php
joomla/libraries/platform.php
joomla/libraries/joomla/*
joomla/libraries/phpmailer/*
joomla/libraries/phputf8/*
joomla/libraries/simplepie/*
joomla/libraries/index.html
joomla/libraries/loader.php
joomla/libraries/cms/*
joomla/logs/*
joomla/media/contacts/*
joomla/media/editors/*
joomla/media/mailto/*
joomla/media/media/*
joomla/media/mod_languages/*
joomla/media/system/*
joomla/media/index.html
joomla/media/cms/css/debug.css
joomla/media/cms/css/index.html
joomla/media/cms/index.html
joomla/media/com_finder/*
joomla/media/com_joomlaupdate/*
joomla/media/overrider/*
joomla/media/plg_quickicon_extensionupdate/*
joomla/media/plg_quickicon_joomlaupdate/*
joomla/media/plg_system_highlight/*
joomla/modules/mod_articles_archive/*
joomla/modules/mod_articles_categories/*
joomla/modules/mod_articles_category/*
joomla/modules/mod_articles_latest/*
joomla/modules/mod_articles_news/*
joomla/modules/mod_articles_popular/*
joomla/modules/mod_banners/*
joomla/modules/mod_breadcrumbs/*
joomla/modules/mod_custom/*
joomla/modules/mod_feed/*
joomla/modules/mod_finder/*
joomla/modules/mod_footer/*
joomla/modules/mod_languages/*
joomla/modules/mod_login/*
joomla/modules/mod_menu/*
joomla/modules/mod_random_image/*
joomla/modules/mod_related_items/*
joomla/modules/mod_search/*
joomla/modules/mod_stats/*
joomla/modules/mod_syndicate/*
joomla/modules/mod_users_latest/*
joomla/modules/mod_weblinks/*
joomla/modules/mod_whosonline/*
joomla/modules/mod_wrapper/*
joomla/modules/index.html
joomla/plugins/authentication/example/*
joomla/plugins/authentication/gmail/*
joomla/plugins/authentication/joomla/*
joomla/plugins/authentication/ldap/*
joomla/plugins/authentication/index.html
joomla/plugins/captcha/*
joomla/plugins/content/emailcloak/*
joomla/plugins/content/example/*
joomla/plugins/content/finder/*
joomla/plugins/content/geshi/*
joomla/plugins/content/joomla/*
joomla/plugins/content/loadmodule/*
joomla/plugins/content/pagebreak/*
joomla/plugins/content/pagenavigation/*
joomla/plugins/content/vote/*
joomla/plugins/content/index.html
joomla/plugins/editors/codemirror/*
joomla/plugins/editors/none/*
joomla/plugins/editors/tinymce/*
joomla/plugins/editors/index.html
joomla/plugins/editors-xtd/article/*
joomla/plugins/editors-xtd/image/*
joomla/plugins/editors-xtd/pagebreak/*
joomla/plugins/editors-xtd/readmore/*
joomla/plugins/editors-xtd/index.html
joomla/plugins/extension/example/*
joomla/plugins/extension/joomla/*
joomla/plugins/extension/index.html
joomla/plugins/finder/*
joomla/plugins/quickicon/extensionupdate/*
joomla/plugins/quickicon/index.html
joomla/plugins/quickicon/joomlaupdate/*
joomla/plugins/system/highlight/*
joomla/plugins/system/languagecode/*
joomla/plugins/search/categories/*
joomla/plugins/search/contacts/*
joomla/plugins/search/content/*
joomla/plugins/search/newsfeeds/*
joomla/plugins/search/weblinks/*
joomla/plugins/search/index.html
joomla/plugins/system/cache/*
joomla/plugins/system/debug/*
joomla/plugins/system/languagefilter/*
joomla/plugins/system/log/*
joomla/plugins/system/logout/*
joomla/plugins/system/p3p/*
joomla/plugins/system/redirect/*
joomla/plugins/system/remember/*
joomla/plugins/system/sef/*
joomla/plugins/system/index.html
joomla/plugins/user/contactcreator/*
joomla/plugins/user/example/*
joomla/plugins/user/joomla/*
joomla/plugins/user/profile/*
joomla/plugins/user/index.html
joomla/plugins/index.html
joomla/templates/atomic/*
joomla/templates/beez_20/*
joomla/templates/beez5/*
joomla/templates/system/*
joomla/templates/index.html
joomla/tmp/*
joomla/configuration.php
joomla/index.php
joomla/joomla.xml
joomla/*.txt
.DS_Store

fabfile.pyc
